body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.button {
    border-radius: 28px;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    padding: 8px 16px;
}

.button.cta {
    background-color: #14B46C;
    border-color: #14B46C;
}

.button:hover {
    opacity: 0.8;
}

main {
    padding-top: 60px;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

/*** fine regole layout base ***/

/*** header ***/
header {
    background-color: #FFB100;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#logo-container {
    text-align: center;
}

#logo-container img {
    height: 27px;
    margin-top: calc((60px - 27px) / 2);
    cursor: pointer;
}

#accedi-container {
    text-align: right;
}

#accedi {
    background-color: rgba(255,255,255,0.25);
    color: white;
    padding: 8px 16px;
    line-height: 60px;
    margin-right: 12px;
    border-radius: 20px;
    font-size: 14px;
}

#accedi i {
    margin-right: 5px;
    font-size: 12px;
}
/*** fine header ***/

/*** jumbo ***/
#jumbo {
    background-color: #FFB100;
    height: 900px;
    padding-right: 60px;
    padding-bottom: 80px;
}

#jumbo-img {
    background-image: url('https://www.nowtv.it/content/dam/static/contentimages/original/sezioni/nowtv/1_home_trial/2018/visori_nuovi/VisoreDoppioXF13_1994.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

#jumbo-text {
    background-color: white;
    width: 303px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    padding: 30px 40px;
    color: #680091;
    text-align: center;
    border-radius: 5px;
}

#jumbo-text img {
    margin-bottom: 30px;
}

#jumbo-text p {
    line-height: 1.5;
}

#jumbo-text .cta {
    display: block;
    padding: 16px 20px;
    margin-top: 30px;
}

/*** fine jumbo ***/

/*** ribbon ***/
#ribbon {
    background-color:  #680091;
    height: 70px;
}

#ribbon p {
    text-align: center;
    color: white;
    line-height: 70px;
    font-weight: bold;
}

#ribbon .button {
    margin-left: 20px;
    font-weight: normal;
}

/* Fine ribbon. */
/* Inizio movies. */

#movies img {
    max-width: 100%;
    border-right: 5px solid white;
}

#movies .col-lg-3:last-child img {
    border-right: none;
}

#movies::after {
    clear: both;
    display: table;
    content: none;
}

/* Fine movies. */
/* Inizio first-claim */

#first-claim-container {
    background-color: rgb(2,43,66);
    padding-bottom: 100px 0;
}

#first-claim {
    width: 950px;
    margin: 0 auto 80px;
}

#first-claim p {
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

#first-claim h2 {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 20px 0 20px;
}

#first-claim img {
    height: 90px;
}

#first-claim > div {
    text-align: center;
}

#first-claim .col-lg-12 {
    padding: 45px 0 30px;
}

#first-claim .col-lg-4 {
    padding: 30px 10px;
}

@media screen and (max-width: 980px) {

    #first-claim-container, #first-claim {
        width: 100%;
    }

}

/* Fine first claim. */
/* Inizio soccer */

#soccer {
    background-color: rgb(28,94,234);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

#soccer h1 {
    text-transform: uppercase;
    margin: 20px 0;
    color: white;
}

#soccer .button {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 80%;
}

#soccer div:last-of-type {
    height: auto;
    margin-top: 30px;
}

#soccer img {
    width: 100%;
}

/* Fine soccer. */
/* Inizio smart-stick. */

#smart-stick {
    background-color: rgb(0,51,102);
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#smart-stick h1 {
    text-transform: uppercase;
    margin: 20px 0;
    color: white;
}

#smart-stick p {
    color: white;
}

#smart-stick img {
    margin: 50px 0 25px;
}

#smart-stick .button {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 80%;
}

/* Fine smart-stick. */
/* Inizio footer. */

footer {
    background-color: rgb(28,28,33);
    padding-top: 40px;
    padding-bottom: 40px;
}

footer #footer-container {
    width: 950px;
    margin: 0 auto;
}

footer #footer-container img {
    width: 100px;
}

footer #footer-container a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer #footer-container ul {
    list-style: none;
    line-height: 2.5;
}

footer #footer-container #social a {
    display: inline-block;
    margin: 0 10px;
    font-size: 25px;
}

footer #disclaimer {
    margin-top: 40px;
}

footer #disclaimer.col-lg-12 p {
    color: rgb(159,161,165);
    font-size: 75%;
}

footer #disclaimer.col-lg-12 a {
    color: white;
    text-decoration: underline;
}

/* Fine footer. */
/* Inizio @media. */

@media screen and (max-width: 1440px) {
    #jumbo {
        height: 650px;
    }

    #jumbo-text {
        left: 50px;
    }
}

@media screen and (max-width: 1300px) {
    #jumbo {
        height: 550px;
    }
}

@media screen and (max-width: 1200px) {
    #jumbo {
        height: 920px;
        padding-right: 0;
        padding-bottom: 10px;
    }

    #jumbo-img {
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: right center;
    }

    #jumbo-text {
        top: 590px;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1023px) {

    #accedi {
        background: transparent;
        margin-right: 0;
    }

    #accedi span {
        display: none;
    }

    #accedi i {
        font-size: 16px;
    }

    #jumbo {
        height: 760px;
    }

    #jumbo-img {
        height: 400px;
    }

    #jumbo-text {
        top: 390px;
    }
}

@media screen and (max-width: 767px) {

    header {
        height: 50px;
    }

    main {
        padding-top: 50px;
    }

    #logo-container img {
        margin-top: calc((50px - 27px) / 2);
    }

    #accedi {
        line-height: 50px;
        font-size: 20px;
    }

    #accedi i {
        font-size: 20px;
    }

    #jumbo-text {
        width: 300px;
    }

    #ribbon {
        height: auto;
    }

    #ribbon .ribbon-cta-container {
        display: block;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 30px;
    }

    #ribbon .button {
        margin-left: 0;
    }
}
